* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #0b0e14;
  color: #ebecf0;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.App {
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;

  .Layout {
    display: flex;
    flex: 1;
    overflow: hidden;

    @media (max-width: 768px) {
      position: relative;
      
      &.view-menu .Chat {
        display: none;
      }
      &.view-chat .MemberList {
        display: none;
      }
    }
  }
}
