.MessageTime {
  font-size: 10px;
  color: #4b5563;
  margin-top: 6px;
  padding: 0 4px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
  font-weight: 600;
  letter-spacing: 0.02em;

  &:hover {
    color: #0abab5;
  }
}
